<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Refrigeracion</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JqueryServlet</servlet-name>
    <servlet-class>datos.peticion.JqueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JqueryServlet</servlet-name>
    <url-pattern>/JqueryServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiRol</servlet-name>
    <servlet-class>datos.peticion.PetiRol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiRol</servlet-name>
    <url-pattern>/PetiRol/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiProgra</servlet-name>
    <servlet-class>datos.peticion.PetiProgra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiProgra</servlet-name>
    <url-pattern>/PetiProgra/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiUsuarioEs</servlet-name>
    <servlet-class>datos.peticion.PetiUsuarioEs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiUsuarioEs</servlet-name>
    <url-pattern>/PetiUsuarioEs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiUsuarioAdmin</servlet-name>
    <servlet-class>datos.peticion.PetiUsuarioAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiUsuarioAdmin</servlet-name>
    <url-pattern>/PetiUsuarioAdmin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarServicios</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarServicios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarServicios</servlet-name>
    <url-pattern>/PetiBuscarServicios/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiListaUsuario</servlet-name>
    <servlet-class>datos.peticion.PetiListaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiListaUsuario</servlet-name>
    <url-pattern>/PetiListaUsuario/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiAsistencia</servlet-name>
    <servlet-class>datos.peticion.PetiAsistencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiAsistencia</servlet-name>
    <url-pattern>/PetiAsistencia/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarRol</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarRol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarRol</servlet-name>
    <url-pattern>/PetiBuscarRol/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarUsuarioXCedu</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarUsuarioXCedu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarUsuarioXCedu</servlet-name>
    <url-pattern>/PetiBuscarUsuarioXCedu/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiGuardRolUsuar</servlet-name>
    <servlet-class>datos.peticion.PetiGuardRolUsuar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiGuardRolUsuar</servlet-name>
    <url-pattern>/PetiGuardRolUsuar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarPrograma</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarPrograma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarPrograma</servlet-name>
    <url-pattern>/PetiBuscarPrograma/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiGuardProgramaUsuario</servlet-name>
    <servlet-class>datos.peticion.PetiGuardProgramaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiGuardProgramaUsuario</servlet-name>
    <url-pattern>/PetiGuardProgramaUsuario/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscargrupos</servlet-name>
    <servlet-class>datos.peticion.PetiBuscargrupos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscargrupos</servlet-name>
    <url-pattern>/PetiBuscargrupos/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarRoles</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarRoles</servlet-name>
    <url-pattern>/PetiBuscarRoles/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiActualizarRol</servlet-name>
    <servlet-class>datos.peticion.PetiActualizarRol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiActualizarRol</servlet-name>
    <url-pattern>/PetiActualizarRol/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarAsignarEquipo</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarAsignarEquipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarAsignarEquipo</servlet-name>
    <url-pattern>/PetiBuscarAsignarEquipo/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PetiBuscarCrearServicios</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarCrearServicios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarCrearServicios</servlet-name>
    <url-pattern>/PetiBuscarCrearServicios/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiBuscarEquipos</servlet-name>
    <servlet-class>datos.peticion.PetiBuscarEquipos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiBuscarEquipos</servlet-name>
    <url-pattern>/PetiBuscarEquipos/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiNewCrearServicios</servlet-name>
    <servlet-class>datos.peticion.PetiNewCrearServicios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiNewCrearServicios</servlet-name>
    <url-pattern>/PetiNewCrearServicios/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiNewAsignaciondeEquipo</servlet-name>
    <servlet-class>datos.peticion.PetiNewAsignaciondeEquipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiNewAsignaciondeEquipo</servlet-name>
    <url-pattern>/PetiNewAsignaciondeEquipo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiActualizarAsignarEquipo</servlet-name>
    <servlet-class>datos.peticion.PetiActualizarAsignarEquipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiActualizarAsignarEquipo</servlet-name>
    <url-pattern>/PetiActualizarAsignarEquipo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiActualizarEquipos</servlet-name>
    <servlet-class>datos.peticion.PetiActualizarEquipos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiActualizarEquipos</servlet-name>
    <url-pattern>/PetiActualizarEquipos/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiActualizarOrdenDeServicio</servlet-name>
    <servlet-class>datos.peticion.PetiActualizarOrdenDeServicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiActualizarOrdenDeServicio</servlet-name>
    <url-pattern>/PetiActualizarOrdenDeServicio/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetiActualizarServicios</servlet-name>
    <servlet-class>datos.peticion.PetiActualizarServicios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiActualizarServicios</servlet-name>
    <url-pattern>/PetiActualizarServicios/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PetiActualizarUsuarios</servlet-name>
    <servlet-class>datos.peticion.PetiActualizarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetiActualizarUsuarios</servlet-name>
    <url-pattern>/PetiActualizarUsuarios/*</url-pattern>
  </servlet-mapping>
</web-app>

